#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
  font-family: 'Goldman', cursive;
}

.container {
  width: 440px;
  height: 504px;
  background: #39af39;
  padding-top: 10px;
  border-radius: 10px;
}

.display {
  width: 405px;
  height: 95px;
  margin: auto;
  margin-bottom: 5px;
  background-color: #b9babb;
  border: #515457 2px solid;
  border-radius: 10px;
  font-size: 60px;
  text-align: end;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

#operation {
  width: 405px;
  text-align: end;
  padding: 0 0 0 10px;
  font-size: 20px;
  position: absolute;
  top: 85px;
  right: 240px;
}

.styleBtn {
  width: 100px;
  font-size: 30px;
  border-radius: 10px;
  padding: 12px;
  margin: 3px;
}

.styleBtn2 {
  width: 200px;
  font-size: 30px;
  border-radius: 10px;
  padding: 12px;
  margin: 3px;
}

.styleBtn1 {
  width: 100px;
  font-size: 25px;
  border-radius: 10px;
  padding: 12px;
  margin: 3px;
}

.color {
  background-color: #474747;
}
